.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
  background-color: #e5ddd5;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  border: 3px solid #f0c14b;
  border-radius: 25px;
  padding: 5px;
  width: 50%;
  height: 500px;
}

.sender {
  background-color: #89CFF0;
  color: black;
  align-self: flex-end;
  max-width: 50%;
  padding: .5em;
  border-radius: 20px;
  position: relative;
  min-height: 35px;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.receiver {
  background-color: #EAFFF1;
  color: black;
  align-self: flex-start;
  max-width: 50%;
  padding: .5em;
  border-radius: 20px;
  position: relative;
  min-height: 35px;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);
}

.input input {
  flex: 1;
  margin: 0 1em;
  padding: 1em;
  border-radius: 20px;
  border: none;
  background-color: #f1f0f0;
  color: black;
}

.input button {
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
