.btn-xs {
  width: 40px;
}

All
  pages
  share
  the
  styles
  on
  index.css
  but
  you
  should
  create
  one
  more
  css
  for
  each
  page
  that
  will
  contain
  the
  selected
  used
  on
  that
  page
  only
  (the ones not reused in other pages).
  */
  .background {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA1L2pvYjE4MDgtcmVtaXgtMDRhLWMuanBn.jpg");
  background-repeat: repeat;
  height: 100vh;
  background-position: center;
  background-size: contain;
}
