.form {
  align-items: center;
}

.text-center {
  text-align: center !important;
}

.input {
  width: 100%;
  max-width: 600px;
  padding: 5px;
  margin-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
}
.btn {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
}
